# gradle
.gradle/
build/
build_BTW/
out/
classes/
.idea/

# eclipse
*.launch

# idea
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# macos
*.DS_Store
/libs/
